# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Environment
.env
.venv/
*.env
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data & Checkpoints
dataset/
*.csv
*.pt
*.pth
*.log
runs/
logs/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
